@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  background-color: #eff0f1;
}

@media only screen and (max-width: 1025px) {
  a {
    -webkit-tap-highlight-color: transparent; /* For iOS */
    tap-highlight-color: transparent; /* For Android */
  }

  div {
    -webkit-tap-highlight-color: transparent; /* For iOS */
    tap-highlight-color: transparent; /* For Android */
  }
}
/* App.css */
body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}


body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
